<p style="color: green"><%= notice %></p>


<p><Strong>Username:</Strong> <%= @user.username %></p>

<% if @user.beer_clubs.empty? %>
  Has not joined any club
<% else %>
  <h4>memberships</h4>

  <ul>
    <% @user.beer_clubs.each do |club| %>
      <li>
        <%= link_to club.name, club %>
      </li>
    <% end %>
  </ul>
<% end %>

<h4>Favorites</h4>
<p>Favorite beer: <%= @user.favorite_beer %></p>
<p>Favorite brewery: <%= @user.favorite_brewery.name %></p>

<p>Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating%></p>

<Strong>Ratings</Strong>

<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  
  <%= link_to "Back to users", users_path %>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> 
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
