<p style="color: green"><%= notice %></p>


<p><Strong>Username:</Strong> <%= @user.username %></p>

<p>Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating%></p>

<Strong>Ratings</Strong>

<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  
  <%= link_to "Back to users", users_path %>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> 
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
